@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Hide submenus by default */
[aria-expanded="false"] .sub-menu ~ ul {
    display: none;
}
/* Show submenus when they are expanded */
[aria-expanded="true"] .sub-menu ~ ul {
    display: block;
}
    
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

